<h1>Welcome to example.com, <%= @doctor.name %></h1>
<p>
  You have successfully signed up to example.com,
  your username is: <%= @doctor.surname %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>